//
// Typography
//

// Override the default Bootstrap base font family

$font-family-base:
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Microsoft YaHei",
"PingFang SC",
"Noto Sans CJK SC",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

// Override the default Bootstrap headings font family

$headings-font-family:
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Microsoft YaHei",
"PingFang SC",
"Noto Sans CJK SC",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

// Create a subheadings font family

$subheadings-font-family: $font-family-base;

// Override Bootstrap default headings variables

$headings-font-weight: 700;
$headings-letter-spacing: 0;

// Override default Bootstrap line height variables

$line-height-lg: 1.75;
